<!DOCTYPE html>
<html>
 <head>

 <title>Sports + Athletes</title>
 </head>
 <body>
 <h1>Tate's Favorite Sports & Athletes</h1>
 <p>My four favorite athletes are Dominik Szoboszlai, Jayson Tatum, Wilyer Abreu, and Christian Gonzalez. </p>
 
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 60px;
      background-color: #f8f9fa;
	}
    .content {
      max-width: 800px;
      margin: auto;
      padding: 20px;
    }
    img {
      max-width: 100%;
      border-radius: 10px;
      border: 2px solid #dee2e6;
    }
  </style>
</head>
<body>

 <div class="content">
    <img src="C:\Users\knowj\CSC2053 HW1\resources\img\IMG_0011.WEBP">
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


  <nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Villanova Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarBasic">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Sports.html">Sports</a>
        </li>
       
      </ul>
    
    </div>
  </div>
</nav>


 </body>
</html>